* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    width: 100vw;
    height: 100vh;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header Header"
        "content content content"
        "nav carousel sidebar"
        "Footer Footer Footer";
}

.Header {
    grid-area: Header;
}

.content {
    grid-area: content;
}

.nav {
    grid-area: nav;
}

.sidebar {
    grid-area: sidebar;
}

.carousel {
    grid-area: carousel;
}

.Footer {
    grid-area: Footer;
}



.Header {
    background-color: #5E2D34;
    color: white;
    padding: 20px;
}

.content {
    background-color: #262E41;
    color: white;
    padding: 20px;
}

.nav {
    background-color: #262E41;
    color: white;
    display:flex;
    flex-direction: column;
}

.sidebar {
    background-color: #262E41;
    color: white;
    
    display:flex;
    flex-direction: column;

}

.carousel {
    background-color: #262E41;
    color: white;
    

}

.content2 {
    background-color: #262E41;
    color: white;
    padding: 20px;

}

.Footer {
    background-color: #5E2D34;
    color: white;
    padding: 20px;
    }








#car{
    width: 649px;
    height:auto;
    }
#monkey{
    width: 649px;
    height:auto;
    }
#radio{
    width: 649px;
    height:auto;
    }
#tamboerijn{
    width: 649px;
    height: auto;    
}
